
.featured
{
      width: 100%;
    max-width: 80%;
    display: flex;
    gap:10px;
    justify-content: space-between;
    z-index: -1;
}

.featuredItem
{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height:341px;
}
.featuredImg
{  width: 100%;
    object-fit: contain;
}
.featuredTitles
{ 
    position: absolute;
    bottom:60px;
}

